.text-style{
  z-index: +2;
  font-family: futura;
  font-size: 23pt;
  font-weight: lighter;
  padding-left:43pt;
  z-index: -1;
  padding-top: 5pt;
}

.main{ 
  width: 100%;
  margin-top: 11pt;
  margin-left: 2pt;
  padding-top: 10pt;
}

.mainrect{

  position: absolute;
  width: 1220pt;
  height: 690pt;
  left: 20pt;
  top: 20pt;
  z-index: -2;
  background-color: #202020;
}



.text-style2{
  font-family: futura;
  font-size: 15pt;
  font-weight: lighter;
  color: #ebebeb;
}

.text-style3{
  font-family: futura;
  font-size: 21pt;
  font-weight: lighter;
  color: #ebebeb;
}

.text-style4{
  font-family: futura;
  font-size: 15pt;
  font-weight: lighter;
  color: #ebebeb;
}

.text-style5{
/*  z-index: -1;*/
  position: absolute;
	margin-left:68.5%;
  top: 13pt;
  font-family: futura;
  font-size: 10pt;
  font-weight: lighter;
  color: #878787;
}

.text-style6{
  /*z-index: -1;*/
  position: absolute;
	margin-left: 85.1%;
  top: 13pt;
  font-family: futura;
  font-size: 10pt;
  font-weight: lighter;
  color: #878787;
}

.text-style7{
 /* z-index: -1;*/
  position: absolute;
  top: 13pt;
	margin-left: 76.7%;
  font-family: futura;

  font-weight: lighter;
  color: #878787;
}


.line-loc{
  padding-left: 18%;
  margin: 0 auto;
  width: 85pt;
  height: 3.5pt;
}

.line-loc1{
  z-index: -1;
  position: absolute;
  padding-left: 71%;
  margin: 0 auto;
  top: 27pt;
  width: 16pt;
}

.line-loc2{
  z-index: -1;
  position: absolute;
  padding-left: 79.2%;
  margin: 0 auto;
  top: 27pt;
  width: 16pt;
}

.line-loc3{
  z-index: -1;
  position: absolute;
  top: 27pt;
  padding-left: 87.7%;
  margin: 0 auto;
  width: 16pt;
}

a:link{
	color: #d7d7d7;
	text-decoration-line: none;
}

a:hover{
	color:#d7d7d7;
	text-decoration-line: underline;
}
a:active{
	
	color: white;
	text-decoration-line: none;
}
a:visited{
	color: #a0a0a0;
	text-decoration-line: underline;
}





.locprocessing{
  position: absolute;
  left: 20%;
  top: 14%;
}

/*body{
margin: 50px;
  padding: 0;
  font-family: "montserrat";
  background-image: linear-gradient(125deg,#281111,#112428);
  background-size: 400%;
  animation: bganimation 15s infinite;
}


@keyframes bganimation {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
  }*/

  .locparticle{
    position: absolute;
    left:550pt;
    top: 80pt;
    z-index: -1;
  }


.btn,.btn2,.btn4{
  border:none;
  background:none;
  padding: 10px 30px;
  font-size: 16px;
  font-family: "futura";
  cursor: pointer;
  margin:10px;
  transition:0.8s;
  position: relative;
  overflow: hidden;
}

.btn1,.btn3,.btn5{
  color: #878787;
  z-index: +1;
}

.btn1:hover,.btn3:hover,.btn5:hover{
  color: #fff;
}

.btn::before,.btn2::before,.btn4::before{
  content:"";
  position: absolute;
  left: 0pt;
  width: 100%;
  height: 10%;
  background: #494949;
  z-index: -1;
  transition: 0.8s;
}

.btn1::before,.btn3::before,.btn5::before{
  top: 0;
  border-radius: 0 0 50% 50%;
}

.btn1:hover::before,.btn3:hover::before,.btn5:hover::before{
  height:180%;
}


*{
  padding: 0;margin: 0;
}  
.wrap{
  width: 0px;margin: 0 auto;
} 
.clear{
  clear: both;
}  
button{
  text-decoration-line: none;
}   
.abc{
  list-style: none;line-height: 40px;
  }
.pp{
  float: left;text-align: center; font-size: 16px;transition: .4s; 
}
.gg{
  color: 202020;
}
.hh:hover{} 

.two{
  display: none;margin-top: 0px;
  } 
.hh:hover .two{
  display: block;
  }  
.xx{
  padding: 5px 0;transition: .4s;cursor: pointer;
}
.xx:hover{
  background: #494949; padding-left: 10px;padding-right: 10px;
}

.Sigma{
  position: absolute;
  left: 50pt;
  top: 20pt;
  font-family: futura;
  font-size: 30px;

}

.btn,.btn2,.btn4{
  border:none;
  background:none;
  padding: 10px 30px;
  font-size: 16px;
  font-family: "futura";
  cursor: pointer;
  margin:10px;
  transition:0.8s;
  position: relative;
  overflow: hidden;
}

.btn1,.btn3,.btn5{
  color: #878787;
  z-index: +1;
}

.btn1:hover,.btn3:hover,.btn5:hover{
  color: #fff;
}

.btn::before,.btn2::before,.btn4::before{
  content:"";
  position: absolute;
  left: 0pt;
  width: 100%;
  height: 10%;
  background: #494949;
  z-index: -1;
  transition: 0.8s;
}

.btn1::before,.btn3::before,.btn5::before{
  top: 0;
  border-radius: 0 0 50% 50%;
}

.btn1:hover::before,.btn3:hover::before,.btn5:hover::before{
  height:180%;
}


*{
  padding: 0;margin: 0;
}  
.wrap{
  width: 0px;margin: 0 auto;
} 
.clear{
  clear: both;
}  
button{
  text-decoration-line: none;
}   
.abc{
  list-style: none;line-height: 40px;
  }
.pp{
  float: left;text-align: center; font-size: 16px;transition: .4s; 
}
.gg{
  color: 202020;
}
.hh:hover{} 

.two{
  display: none;margin-top: 0px;
  } 
.hh:hover .two{
  display: block;
  }  
.xx{
  padding: 5px 0;transition: .4s;cursor: pointer;
}
.xx:hover{
  background: #494949; padding-left: 10px;padding-right: 10px;
}

.Sigma{
  position: absolute;
  left: 50pt;
  top: 20pt;
  font-family: futura;
  font-size: 30px;

}

.ggt{
	color: #ededed;
}

.ggt:hover{
	transition: .5s;
	color: #ffffff;
}