div.scroll {
    position: absolute;
    left: 30%;
    top: 23%;
    width: 622px;
    height: 642px;
    background-color: #242424 ;
    color: black;
    padding: 20px;
    margin: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: futura;
  }

    div.scroll::-webkit-scrollbar {
    width: 8px;
  }
  div.scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey; 
    border-radius: 10px;
    }

  div.scroll::-webkit-scrollbar-thumb {
    background: #373737; 
    border-radius: 10px;
  }

  div.scroll::-webkit-scrollbar-thumb:hover {
    background: #414141; /*hover悬停*/
  }






.text-style{
  z-index: +2;
  font-family: futura;
  font-size: 23pt;
  font-weight: lighter;
  padding-left:43pt;
  z-index: -1;
  padding-top: 5pt;
}

.mainrect{

  position: absolute;
  width: 96.1%;
  height: 97%;
  left: 20pt;
  top: 20pt;
  z-index: -2;
  background-color: #202020;
}

.main{ 
 width: 100%;
  margin-top: 11pt;
  margin-left: 2pt;
  padding-top: 10pt;
}



.text-style2{
font-family: futura;
font-size: 15pt;
font-weight: lighter;
color: #ebebeb;
}

.text-style3{
padding-top: 190pt;
padding-left: 22%;
font-family: futura;
font-size: 25pt;
font-weight: lighter;
color: #ebebeb;
}

.text-style4{
  padding-top: 10px;
font-family: futura;
font-size: 15pt;
font-weight: lighter;
color: #a7a7a7;
padding-left: 22.25%;
}

.text-style5{
	padding-left: 65%;
font-family: futura;
font-size: 12pt;
font-weight: lighter;
color: #c0c0c0;
}

.text-style6{
position: absolute;
padding-left: 39%;
padding-top:340pt;
font-family: futura;
font-size: 12pt;
font-weight: lighter;
color: #878787;
}

.text-stylex{
padding-left: 5%;
padding-top:5%;
font-family: futura;
font-size: 12pt;
font-weight: lighter;
color: #b1b1b1;
}

.text-style7{
	padding-left: 5%;
font-family: futura;
font-size: 12pt;
font-weight: lighter;
color: #878787;
}

.text-style8{
	padding-left: 5%;
font-family: futura;
font-size: 12pt;
font-weight: lighter;
color: #878787;
}


.line-loc{

padding-left: 20%;
margin: 0 auto;
}

.photo-loc1{
padding-top: 277pt;
position: absolute;
padding-left: 28%;

margin: 0 auto;
}



.line-loc3{
padding-left: 3%;
margin: 0 auto;
}

.line-loc2{
  height: 2px;
width: 21%;
margin: 0 auto;
}

.text-style10{
position: absolute;
font-family: futura;
font-size: 17pt;
font-weight: lighter;
color: #a7a7a7;
padding-top: 10pt;
}

.text-style11{
font-family: futura;
font-size: 18pt;
font-weight: lighter;
color: #a7a7a7;
}

.touImg{
text-align: center;
margin-top: 40px;
}

.name{
font-size: 23px;
text-align: center;
}

.detail,.name{
color:#ffbad9;
}

.title-text{
font-size: 20px; 
color: #ffbad9;
border-bottom: 1px solid #ffbad9;
font-weight: bolder;
}

.fl{
float: left;
}

.name-detail{
color: #ffbad9;
margin-left: 80px;
}

.name-detail p span{
width:100px;
display:inline-block;
}

.robot-detail{
color: #ffbad9;
margin-left: 20px;
}

.tableClass{
  font-size: 12pt;
color: #fff;
}

.firstTr{

border: 1px solid #fff;
text-align: center;	
color: white;
background-color:rgba(255,255,255,0.3);
vertical-align: middle;
padding: 5px;
}

table tr td{
border: 1px solid #fff;
line-height: 60px;
text-align: center;
vertical-align: middle;
}

table tr th{

line-height: 60px;
text-align: center;
vertical-align: middle;
}

table{
border-collapse: collapse;
}

table tr{
display: table-row;
vertical-align: inherit;
}

.bottom-box ul li{
width: 19%; 
display: inline-block;
list-style: none;
text-align: center;
color: #ffbad9;
}


a:link{
	color: #d7d7d7;
	text-decoration-line: none;
}

a:hover{
	color:#d7d7d7;
	text-decoration-line: underline;
}
a:active{
	
	color: white;
	text-decoration-line: none;
}
a:visited{
	color: #a0a0a0;
	text-decoration-line: underline;
}



.btn,.btn2,.btn4{
  padding-top: 20pt;
  border:none;
  background:none;
  padding: 10px 30px;
  font-size: 16px;
  font-family: "futura";
  cursor: pointer;
  margin:10px;
  transition:0.8s;
  position: relative;
  overflow: hidden;
}

.btn1,.btn3,.btn5{
  color: #878787;
  z-index: +1;
}

.btn1:hover,.btn3:hover,.btn5:hover{
  color: #fff;
}

.btn::before,.btn2::before,.btn4::before{
  content:"";
  position: absolute;
  left: 0pt;
  width: 100%;
  height: 10%;
  background: #494949;
  z-index: -1;
  transition: 0.8s;
}

.btn1::before,.btn3::before,.btn5::before{
  top: 0;
  border-radius: 0 0 50% 50%;
}

.btn1:hover::before,.btn3:hover::before,.btn5:hover::before{
  height:180%;
}
.text-styleee5{
/*  z-index: -1;*/
  position: absolute;
  margin-left:68.5%;
  top: 13pt;
  font-family: futura;
  font-size: 10pt;
  font-weight: lighter;
  color: #878787;
}

.text-styleee6{
  /*z-index: -1;*/
  position: absolute;
  margin-left: 85.1%;
  top: 13pt;
  font-family: futura;
  font-size: 10pt;
  font-weight: lighter;
  color: #878787;
}

.text-styleee7{
 /* z-index: -1;*/
  position: absolute;
  top: 13pt;
  margin-left: 76.7%;
  font-family: futura;

  font-weight: lighter;
  color: #878787;
}

.line-loccc1{
  z-index: -1;
  position: absolute;
  padding-left: 71%;
  margin: 0 auto;
  top: 27pt;
  width: 16pt;
}

.line-loccc2{
  z-index: -1;
  position: absolute;
  padding-left: 79.2%;
  margin: 0 auto;
  top: 27pt;
  width: 16pt;
}

.line-loccc3{
  z-index: -1;
  position: absolute;
  top: 27pt;
  padding-left: 87.7%;
  margin: 0 auto;
  width: 16pt;
}
*{
  padding: 0;margin: 0;
}  
.wrap{
  width: 0px;margin: 0 auto;
} 
.clear{
  clear: both;
}  
button{
  text-decoration-line: none;
}   
.abc{
  list-style: none;line-height: 40px;
  }
.pp{
  float: left;text-align: center; font-size: 16px;transition: .4s; 
}
.gg{
  color: 202020;
}
.hh:hover{} 

.two{
  display: none;margin-top: 0px;
  } 
.hh:hover .two{
  display: block;
  }  
.xx{
  padding: 5px 0;transition: .4s;cursor: pointer;
}
.xx:hover{
  background: #494949; padding-left: 10px;padding-right: 10px; 
}




.xx1{
  padding: 2px 0;transition: .4s;cursor: pointer;
}
.xx1:hover{
  background: #494949; padding-right: 2px;text-decoration: none; padding: 2px; color: #ffffff;
}





.Sigma{
  position: absolute;
  left: 50pt;
  top: 20pt;
  font-family: futura;
  font-size: 30px;

}

.line-locpar{
position: absolute;

top: 2.8%;
z-index: -1;
}

  .locparticle{
    position: absolute;
    left:570pt;
    top: 95pt;
    z-index: -1;
  }

.text-stylex{
 position: absolute;
 top: 19.6%;
 left: 31.2%;
font-family: futura;
font-size:13pt;
font-weight: lighter;
color: #878787;
background: #494949;
padding:2px;
}

.text-stylexx{
  
  top:143pt；
  left:28%;
font-family:futura;
font-size: 15pt;
font-weight: lighter;
color: #878787;
}


.text-sty{
position: absolute;
top: 19.7%;
left:47.5%;
font-family: futura;
font-size: 15pt;
font-weight: lighter;
color: #878787;


}


.text-stylexxxx{
padding-top: 100pt;
  top:80pt；
  left:350pt;
font-family:futura;
font-size: 15pt;
font-weight: lighter;
color: #878787;
}

.text-stylexxx{
  position: absolute;
  top: 19.7%;
 left: 60.8%;
font-family: futura;
font-size: 13pt;
font-weight: lighter;
color: #878787;
}




.text-style2{
font-family: futura;
font-size: 15pt;
font-weight: lighter;
color: #ebebeb;
}

.text-style3{
font-family: futura;
font-size: 21pt;
font-weight: lighter;
color: #ebebeb;
}

.text-style4{
font-family: futura;
font-size: 15pt;
font-weight: lighter;
color: #ebebeb;
}

.text-body{
  font-size: 12pt;
  color: #b6b6b6;
  padding-left: 5%;
}

.text-head{
  padding-left: 5%;
  font-size: 20pt;
  color: #ffffff;
}

.all-line-loc{
  padding-left: 5%;
}

.text-headsmall{
  padding-left: 5%;
  font-size: 18pt;
  color: #ffffff;
}

.imgloc1{
padding-left: 10%;
}

.imgloc2{
padding-left: 12%;
}

.imgloc3{
padding-left: 10%;
}

.text-body2{
  font-size: 10pt;
  color: #b6b6b6;
  padding-left: 12%;
}

p{
  padding-right: 5%;
}

.pngloc{
  padding-left: 5%;
}

.text-body3{
   text-align: center;
  font-size: 13pt;
  color: #b6b6b6;

 text-decoration: none;
}

.text-body4{
position: absolute;
  font-size: 13pt;
  color: #b6b6b6;
  padding-right: 15%;
left: 36%;
}

.ggt{
  color: #ededed;
}

.ggt:hover{
  transition: .5s;
  color: #ffffff;
}


